.login-container {
  h1 {
    color: #CFFFF2;
    font-weight: 600;
    margin-bottom: 60px;
  }
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    button, input {
      font-size: 15px;
      padding: 10px 15px;
      width: 100%;
      background-color: #031F53;
    }
    button:disabled {
      opacity: 0.5;
    }
    input, button {
      margin-bottom: 20px;
      outline: none;
      border-radius: 4px;
      color: #CFFFF2;
      border: 1px solid #CFFFF2;
      box-sizing: border-box;
    }
    button {
      cursor: pointer;
    }
  }
  p {
    color: #CFFFF2;
  }
}
